/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.12,
* Autoprefixer: v10.4.4
* Browsers: last 4 version
*/

.main{
    position: relative;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    top: 50px;
}
.sidenav {
    top: 50px;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 50;
    left: 0;
    background-color: whitesmoke;
    overflow-x: hidden;
    padding-top: 50px;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
  }

  .sidenav ul{
    opacity: 0;
  }

.side-panel{
    cursor: pointer;
  position: fixed;
  margin: 0px;
  width: 47px;
  height: 47px;
  left: 6px;
  top: 60px;
  width: 25px;
  height: 30px;
  z-index: 2;
}

.side-panel:checked ~ .sidenav {
    width :250px;
    border-right: solid 1px;
    border-color: rgb(179, 179, 179);
}

.side-panel:checked ~ .sidenav ul {
    opacity: 1;
    -webkit-transition: opacity 0.1s;
    -o-transition: opacity 0.1s;
    transition: opacity 0.1s;  
    -webkit-transition-delay: 0.3s;  
         -o-transition-delay: 0.3s;  
            transition-delay: 0.3s;
}

.side-panel:checked ~ .main {
   margin-left :250px;
}

  .sidenav a{
    color:black;
  }
  
  .sidenav ul li a{
    padding: 5px 5px 5px 22px;
    margin: 10px;
    text-decoration: none;
    font-size: 25px;
    display: block;
    color:black;
  }
  
  .sidenav ul li a:hover {
    border-radius: 5px;
  background-color: var(--accent-color);
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    font-size: 36px;
  }

  .tools{
      opacity: 0;
    font-size: 30px;
    padding: 5px;
    width: 100%;
    margin: auto 0;
    position: fixed;
    z-index: 1;
    text-align: center;
}

.tools i{
    cursor: pointer;
    margin: 5px 15px;
    background-color: white;
    padding: 5px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.30) 0px 1px 4px;
}
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav a {font-size: 18px;}
  }