.screen {
  position: relative;
  background: var(--secondary-color);
  border-radius: 15px;
  margin: 70px auto 70px auto;
  max-width: 1000px;
  box-shadow: 0px 10px 40px -7px #0000008f, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}
.screen-header {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background: var(--secondary-color);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.screen-header-button {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-right: 3px;
  border-radius: 8px;
  background: white;
}

.screen-header-button.close {
  background: #ed1c6f;
}

.screen-header-button.maximize {
  background: #e8e925;
}

.screen-header-button.minimize {
  background: #74c54f;
}

.screen-body {
  display: flex;
}

.screen-body-item {
  flex: 1;
  padding: 50px;
}

.screen-body-item.left {
  display: flex;
  flex-direction: column;
}

.app-title {
  display: flex;
  flex-direction: column;
  position: relative;
  color: var(--accent-color);
  font-size: 26px;
}

.app-title:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 25px;
  height: 4px;
  background: var(--accent-color);
}

.app-contact {
  margin-top: auto;
  font-size: 14px;
  color: var(--text-color);
}

.app-form-group {
  margin-bottom: 15px;
}

.app-form-group.message {
  margin-top: 40px;
}

.app-form-group.buttons {
  margin-bottom: 0;
  text-align: right;
}

.app-form-control {
  width: 100%;
  padding: 10px 0;
  background: none;
  color: var(--text-color);
  border: none;
  border-bottom: 2px solid var(--accent-color);
  font-size: 14px;
  outline: none;
  transition: border-color 0.2s;
}

.app-form-control::placeholder {
  color: var(--text-color);
}

.app-form-control:focus {
  border-bottom-color: #ddd;
}

.app-form-button {
  background: none;
  border: none;
  color: var(--accent-color);
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  outline: none;
}

.app-form-button:hover {
  color: var(--accent-color);
}
@media screen and (max-width: 1000px) {
  .screen {
    margin: 70px 20px 70px 20px;
  }
}

@media screen and (max-width: 520px) {
  .screen-body {
    flex-direction: column;
  }

  .screen-body-item.left {
    margin-bottom: 30px;
  }

  .app-title {
    flex-direction: row;
  }

  .app-title span {
    margin-right: 12px;
  }

  .app-title:after {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .screen-body {
    padding: 40px;
  }

  .screen-body-item {
    padding: 0;
  }
}
