.navbar {
    background-color: var(--secondary-color);
  position: fixed;
  display: flex;
  float: inherit;
  width: 100%;
  z-index: 100;
}

.cart {
  padding: 10px;
  cursor: pointer;
}

.cart-img {
  display: block;
  background-image: url("../img/shopping-cart.png");
  background-size: contain;
  filter: invert();
  min-width: var(--navbar);
  min-height: var(--navbar);
}

.sections {
  margin: 0px 6px;
  height: var(--navbar);
  color: white;
  font-size: 30px;
  line-height:50px;
  font-weight: bolder;
  width: 100%;
}

.dropdown {
  display: flex;
  list-style: none;
  float: right;
  margin: 0px;
  overflow: hidden;
}

.dropdown li {
  height: var(--navbar);
  padding-left: 30px;
  padding-right: 30px;
  text-align: center;
}

.account {
  padding: 6px;
  margin: 4px;
  height: var(--navbar);
  background-image: url("..\\img\\propic.png");
  object-fit: cover;
  background-position: 50% 50%;
  background-size: contain;
  border-radius: 100px;
  min-width: var(--navbar);
  max-width: var(--navbar);
  cursor: pointer;
  box-shadow: 0px 0px 2px 0px rgb(77, 77, 77);
}

.burger {
  padding: 0px;
  margin: 5px 0px;
  height: auto;
  display: none;
}

#burgermenu {
    cursor: pointer;
  display: none;
  position: fixed;
  margin: 0px;
  width: 36px;
  height: 50px;
  right: 56px;
  opacity: 0;
  z-index: 1000;
}

.bar1,
.bar2,
.bar3 {
  border-radius: 100px;
  width: 35px;
  height: 5px;
  background-color: rgb(255, 255, 255);
  margin: 6px 0;
  transition: 0.4s;
}

#burgermenu:checked ~ .burger .bar1 {
  -webkit-transform: rotate(45deg) translate(-8px, 8px);
  transform: rotate(45deg) translate(8px, 8px);
}

#burgermenu:checked ~ .burger .bar2 {
  opacity: 0;
}

#burgermenu:checked ~ .burger .bar3 {
  -webkit-transform: rotate(-45deg) translate(9px, -6px);
  transform: rotate(-45deg) translate(9px, -6px);
}

#burgermenu:checked ~ .dropdown {
  height: auto;
  margin-bottom: 10px;
}

#burgermenu {
  display: inline;
}
.sections {
  height: auto;
}

.dropdown {
  width: 100%;
  display: inline-block;
  height: 0px;
}

.dropdown li {
    line-height:normal;
  text-align: left;
  padding: 0px;
}

.burger {
  float: right;
  display: inline-block;
}
/*-------------------------------------------------------

NAVBAR HOVER

-------------------------------------------------------*/

.account-dropdown {
  position: absolute;
  text-align: left;
  background-color: var(--secondary-color);
  min-width: 160px;
  border-radius: 10px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  top: 60px;
  padding: 10px;
  z-index: 3;
  display: none;
  transition: left 1s;
  transition-delay: 0.2s;
}

#account-dropdown {
    cursor: pointer;
  position: fixed;
  margin: 0px;
  width: 47px;
  height: 47px;
  left: 2px;
  top: 2px;
  opacity: 0;
  z-index: 1000;
}


#account-dropdown:checked ~ .account-dropdown{
    left: 7px;
    display: block;
}

.navbar-hover {
  padding: 5px;
}

.navbar-hover:hover {
  border-radius: 5px;
  background-color: var(--accent-color);
}
