
.screen-fixed{
    cursor: pointer;
    position: fixed;
top: 0;
left: 0;
z-index: 12;
width: 100%;
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
opacity: 1;
background: rgba(0,0,0,.7);
overflow: auto;
transform: translateZ(0);
transition: opacity .2s;
perspective: 1000px;
perspective-origin: 50% 50%;
}

.screen {
    cursor: default;
    margin: auto;
    min-width: 90%;
    height: 75%;
  position: relative;
  background-color: white;
  border-radius: 15px;
  max-width: 1000px;
  box-shadow: 0px 10px 40px -7px #0000008f, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

.screen-header {
  display: flex;
  float: right;
  align-items: center;
  padding: 10px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.screen-header-button {
    cursor: pointer;
    text-align: center;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  background: #ed1c6f;
}

.screen-body {
  display: flex;
  padding-top: 5px;
  padding-bottom: 5px;
}

.screen-body-item {
  flex: 1;
  padding: 10px;
}

.screen-body-item.left {
  display: flex;
  flex-direction: column;
  object-fit: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-bottom-left-radius: 15px;
}

.screen-body-item.right {
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    object-fit: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    border-radius: 15px;
  }

@media screen and (max-width: 520px) {
    .screen-body {
      flex-direction: column;
    }
  
    .screen-body-item.left {
      margin-bottom: 30px;
    }
  }
