
.screen-fixed{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 12;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    opacity: 1;
    background: rgba(0,0,0,.7);
    transform: translateZ(0);
    transition: opacity .2s;
    perspective: 1000px;
    perspective-origin: 50% 50%;
}

.screen {
    padding: 15px;
    z-index: 13;
    margin: auto;
    min-width: 90%;
    top: 60px;
    position: relative;
    background-color: white;
    border-radius: 15px;
    max-width: 1000px;
}

.screen-header-button {
    position: fixed;
right: 25px;
top: 90px;
transform: translate(50%,-50%);
    cursor: pointer;
    text-align: center;
    z-index: 14;
  width: 30px;
  height: 30px;
  border-radius: 30px;
  font-size: 50px;
  line-height: 25px;
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.72);
}

.screen-body {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}

.screen-body-section.left {
  display: flex;
  flex-direction: column;
  object-fit: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-bottom-left-radius: 15px;
}

.screen-body-section.right{
    object-fit: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
  }

  .screen-body-section.right img{
      margin-bottom: 20px;
    object-fit: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    box-shadow: rgba(0, 0, 0, 0.40) 0px 1px 6px;
    border-radius: 15px;
  }

  .screen-body-section.right .card-text{
    box-shadow: rgba(0, 0, 0, 0.40) 0px 1px 6px;
    border-radius: 15px;
  }

  .screen-body-section.right .card-text h1{
    color: black;
  }

  .screen-body-section.right>p{
    color: black;
  }

@media screen and (max-width: 1000px) {
    .screen {
        top: 55px;
        min-width: 98%;
    }

    .screen-body {
        grid-template-columns: repeat(1, 1fr);
    }
  
    .screen-body-section.left {
      margin-bottom: 30px;
    }
  }
