@import url(navbarstyle.css);
@import url(header-imagestyle.css);
@import url(product-fullscreen.css);
@import url(signup.css);

body {
  background-color: var(--accent-color);
  padding: 0;
  margin: 0;
  text-align: justify;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  letter-spacing: 1.4px;
  color: var(--text-color)
}

a {
  color: var(--text-color);
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: var(--text-color);
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

:root {
  --primary-color: rgb(0, 0, 0);
  --secondary-color: #292929;
  --text-color: rgb(255, 255, 255);
  --accent-color: rgb(251, 46, 94);
  --navbar: 30px;
}

.store {
  margin: 5px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

.card {
  background-color: var(--secondary-color);
  border-radius: 10px;
  box-shadow: 0px 10px 13px -7px #0000008f, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

.card-image {
  width: 100%;
  min-height: 200px;
  border-radius: 10px;
  object-fit: fill;
  background-position: center;
  background-image: url(../img/cube.png);
}

.card-text {
    display: flex;
    height: 48px;
    padding: 12px;
    align-items: center;
  color: var(--text-color);
}

.card-buy {
  background-color: var(--accent-color);
  padding: 10px;
  border-radius: 5px;
}

@media only screen and (min-width: 1450px) {
    .store {
      grid-template-columns: repeat(6, 1fr);
    }
  }

@media only screen and (max-width: 1450px) {
    .store {
      grid-template-columns: repeat(5, 1fr);
    }
  }

@media only screen and (max-width: 1250px) {
    .store {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  @media only screen and (max-width: 1050px) {
    .store {
      grid-template-columns: repeat(3, 1fr);
    }
  }

@media only screen and (max-width: 950px) {
  .store {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 550px) {
  .store {
    grid-template-columns: repeat(1, 1fr);
  }
  .card {
    width: auto;
  }

  .row {
    display: inline-block;
  }
}

.footer {
  padding: 10px;
  margin-top: 30px;
  background-color: var(--secondary-color);
}

table,
th,
td {
  padding: 7px;
  color: var(--text-color);
  background-color: var(--secondary-color);
}

table {
  border-radius: 10px;
  margin: auto;
  box-shadow: 0px 10px 40px -7px #0000008f, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

td {
  border: 1px solid;
}
